/src/hypertiling/__pycache__
/src/hypertiling.egg-info
/dist
/.ipynb_checkpoints
/benchmark
/.idea
*.pyc
/src/hypertiling/kernels/__pycache__
/src/hypertiling/kernel/__pycache__
/.venv
venv
/build
/hypertiling
/hypertiling.egg-info
test.py